<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlightened code</title>

</head>
<body  style="background-color:#f0f4f7;">
    <!--
    @Html.ActionLink("Home", "Principal", "Home", null, new { @class = "nav-link" })
    @Html.ActionLink("Forum", "ConsultarDicas", "Home", null, new { @class = "nav-link" })
    @Html.ActionLink("Sair", "Index", "Home", null, new { @class = "nav-link" })
    -->

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;@DateTime.Now.Year-enlightened code</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
